# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '09:00'
      day: 'monday'
    ignore:
      # don't update peerDependencies of libs
      - dependency-name: 'typescript'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
      - dependency-name: 'tslib'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
      - dependency-name: 'react'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
      - dependency-name: 'react-dom'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
      - dependency-name: '@emotion/react'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
      - dependency-name: 'web-vitals'
        update-types:
          ['version-update:semver-minor', 'version-update:semver-patch']
    open-pull-requests-limit: 10
    rebase-strategy: 'auto'
    groups:
      storybook:
        patterns:
          - '@storybook*'
          - 'storybook'
      babel:
        patterns:
          - '@babel/*'
      nx:
        patterns:
          - '@nx*'
          - '@nrwl*'
          - 'nx*'
      eslint:
        patterns:
          - '*eslint*'
      jest:
        patterns:
          - '*jest*'
      rollup:
        patterns:
          - '@rollup*'
          - 'rollup'
      prettier:
        patterns:
          - '*prettier*'
      guardian:
        patterns:
          - '@guardian*'
      swc:
        patterns:
          - '@swc*'
      react:
        patterns:
          - 'react*'
      production-dependencies:
        dependency-type: 'production'
      development-dependencies:
        dependency-type: 'development'
        exclude-patterns:
          - '@storybook*'
          - 'storybook'
          - '@babel*'
          - '@nx*'
          - '@nrwl*'
          - 'nx*'
          - '*eslint*'
          - '@rollup*'
          - 'rollup'
          - '@guardian*'
          - '@swc*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    rebase-strategy: 'auto'
