node_modules
.DS_Store
.vscode/settings.json
.idea
dist
*.log

# temporarily ignore these for https://github.com/guardian/csnx/pull/101
/libs/@guardian/source-foundations/CHANGELOG.md
/libs/@guardian/source-foundations/src
