node_modules
.DS_Store
.vscode/settings.json
.idea
dist
*.log
.env

# temporarily ignore these for https://github.com/guardian/csnx/pull/101
/libs/@guardian/source-foundations/CHANGELOG.md
/libs/@guardian/source-foundations/src

/libs/@guardian/source-react-components/CHANGELOG.md
/libs/@guardian/source-react-components/scripts
/libs/@guardian/source-react-components/src
/libs/@guardian/source-react-components/vendor

/libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
