node_modules
.DS_Store
.vscode/settings.json
.idea
dist
*.log
.env
.nx

# Speed up TSC builds
# https://www.typescriptlang.org/tsconfig#incremental
tsconfig.tsbuildinfo

# Speed up eslint
.eslintcache

**/cypress/screenshots

# wireit cache dirs
# https://github.com/google/wireit
.wireit

# storybook build dirs
storybook-static

# cypress stuff
**/cypress/downloads/

# playwright stuff
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
