# Youtube types declare an ambient 'YT' namespace which is normally
# inaccesible to the @csnx/npm-package (because pnpm doesn't hoist by default).
# This means projects which use 'YT' fail at build time.
# This hoists youtube types to the root node_modules folder so they are discoverable
# from anywhere.
public-hoist-pattern[]=@types/youtube
link-workspace-packages=false
