---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Nav from '../components/Nav.svelte';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;

	}

</style>
